@charset "UTF-8";

html {
  font-size: 25px;
}
input, textarea, select, button {
    font-family: inherit;
    font-size: 100%;
    background-color: #a5e5ff;
}
#result {
  font-size: 120%;
  font-weight: bold;
  color: #ff0000;
}
